<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Complex Force-Directed Graph Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
    <script type="module" src="https://unpkg.com/@kit-data-manager/pid-component"></script>

</head>
<link rel="stylesheet" href="./style.css">
<script src="./FDO.js"></script>
<script src="./FDOStore.js"></script>

<body>
    <display-magic value="21.T11981/be908bd1-e049-4d35-975e-8e27d40117e6"></display-magic>
    <svg id="graph"></svg>
    <input type="hidden" id="includedProperties" value= "KIP,SIP,TIP,KIT,SAP,RWTH,BIRLA,KPMG">
    <script>
        var visualizationMode = "primary"; // Options: "primary", "all", "primaryWithLinks"
    </script>
    <script src="./main.js"></script>

</body>

</html> -->