:host {
  display: block;
}

#graph {
  height: 340;
  width: 180px;
}

.node {
  cursor: pointer;
}

.link {
  stroke: #ccc;
  stroke-width: 1px;
}

.label {
  font-size: 12px;
}

.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  pointer-events: none;
}

.node.primary {
  stroke: #FF0000;
  /* Change color according to your needs */
}

.link.primary {
  stroke: #FF0000;
  /* stroke: blue;  /* Change the color of primary links */
  /* stroke-width: 2; */
  /* Change color according to your needs */
}

.node.secondary {
  stroke: #FF0000;
  /* Change color according to your needs */
}

.link.secondary {
  stroke: #FF0000;
}

.arrowhead-highlighted {
  fill: red;
} 


.link-highlighted {
  stroke: red;
}
  /* Change the stroke color for highlighted state
}

/* .node-highlighted {
  fill: red; /* Change the fill color for highlighted state }*/